:root {
  /* colors */
  --hue: 600;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 30%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
body {
  background: var(--base-color-second);
  font-family: 'Inter', sans-serif;
}

.principal {
  margin: 1.5rem 1rem 6rem;
  /*position: relative;*/
}

textarea {
  font-family: 'Inter', sans-serif;
}

/*Sessão de criptografar*/
.criptografia {
  width: 100%;
  height: auto;
}

/*Area do texto*/
.input-texto {
  /*padding: 1rem;*/
  width: 100%;
  height: 16rem;
  margin-top: 5rem;
  border: none;
  outline: none;
  background: var(--base-color-second);
  font-size: 2rem;
  color: var(--base-color);
  resize: none;
  
}

.input-texto::placeholder {
  color: var(--base-color);
}

/*Frase de aviso*/
.info {
  display: flex;
  vertical-align: top;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.icon-info-circle {
  font-size: 1.3rem;
  margin-right: 0.3rem;
  color: var(--base-color-alt);
}

.paragrafo-info {
  font-size: 0.8rem;
  color: var(--base-color-alt);
}

/*Botões*/
.botoes {
  width: 100%;
  height: 4.3rem;
  margin-bottom: 4rem;
}

.criptografar, .descriptografar {
  width: 100%;
  height: 80%;
  border-radius: 1.5rem;
  border: 1px solid var(--base-color);
  font-size: 1rem;
  cursor: pointer;
}

.criptografar {
  background: var(--base-color);
  color: var(--text-color-light);
  margin-bottom: 1.5rem;
}

.icon-lock {
  margin-right: 0.5rem;
}

.icon-unlock-alt {
  margin-right: 0.2rem;
}

.descriptografar, .copiar {
  background: var(--text-color-light);
  color: var(--base-color);
}
/*^Sessão de criptografar^*/

/*Sessão do resultado*/
.resultado {
  width: 90%;
  height: 12rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  background: var(--text-color-light);
  border-radius: 2rem;
}

.mensagem-resultado {
  text-align: center;
  margin-top: 8rem;
  padding: 1rem;
}

/*Ícone detetive*/
.icon-user-secret {
  font-size: 6rem;
  color: var(--base-color);
}

/*Título*/
.titulo-info-resultado {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--title-color);
}

/*Mensagem*/
.info-resultado {
  font-size: 0.7rem;
  color: var(--base-color);
  line-height: 1rem;
}

/*Área do texto criptografado*/
.texto-criptografado {
  position: relative;
  width: 90%;
  bottom: 180px;
  height: 12rem;
  margin: 0 auto;
  visibility: hidden;
}

/*Texto*/
.texto-resultado {
  width: 100%;
  background: var(--text-color-light);
  margin-bottom: 1rem;
  font-size: 1rem;
  resize: none;
  border: none;
  outline: none;
}

/*Botão copiar*/
.copiar {
  width: 100%;
  height: 3rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  border: 1px solid var(--base-color);
  font-size: 1rem;
  cursor: pointer;
}

.icon-copy1 {
  margin-right: 0.5rem;
}


/*Footer*/
footer {
  background: var(--base-color);
  padding: 2rem;
  text-align: center;
}

.minha-foto {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.nome {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.8rem;
}

.descricao {
  color: var(--text-color);
}

.local-descricao {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed var(--text-color);
  line-height: 1.5rem;
}

em {
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .botoes {
    display: flex;
    gap: 1rem;
  }
  
  .criptografar, .descriptografar {
    width: 50%;
  }

  .mensagem-resultado {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {  
  .principal {
    margin: 2rem;
    position: relative;
  }

  .logo-alura {
    margin-left: 3rem;
  }
  
  /*Sessão de criptografar*/
  .criptografia {
    width: 50%;
    margin: 3rem 5rem 4rem 8rem;
  }
  
  /*Area do texto*/
  .input-texto {
    width: 90%;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 0;
  }

  .info {
    margin-top: 8rem;
  }
  
  /*Botões*/
  .botoes {
    margin-bottom: 2rem;
  }
  
  .criptografar, .descriptografar {
    width: 13rem;
    margin-right: 1.5rem;
  }
  /*^Sessão de criptografar^*/
  
  /*Sessão do resultado*/
  .resultado {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 30%;
    height: 100%;
  }

  .mensagem-resultado {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  
  /*Ícone detetive*/
  .icon-user-secret {
    font-size: 15rem;
  }
  
  /*Título*/
  .titulo-info-resultado {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /*Mensagem*/
  .info-resultado {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  
  /*Área do texto criptografado*/
  .texto-criptografado {
    top: -575px;
    margin: 2rem;
    height: 70%;
  }

  .texto-resultado {
    width: 90%;
    height: 100%;
  }

  /*Botão copiar*/
  .copiar {
    position: relative;
    top: -10px;
    width: 90%;
  }
}